Repository MMJGGR/curly-broccoli: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, black, flake8, pytest

.pre-commit-config.yaml:

repos:
  # Frontend hooks
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash -c 'cd frontend && npx eslint --max-warnings 0'
        language: system
        files: ^frontend/src/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false
        
      - id: prettier
        name: Prettier
        entry: bash -c 'cd frontend && npx prettier --check'
        language: system
        files: ^frontend/src/.*\.(js|jsx|ts|tsx|css|json)$
        pass_filenames: false

  # Backend hooks  
  - repo: local
    hooks:
      - id: black
        name: Black (Python formatter)
        entry: black
        language: system
        files: ^(api|compute)/.*\.py$
        
      - id: flake8
        name: Flake8 (Python linter)
        entry: flake8
        language: system
        files: ^(api|compute)/.*\.py$
        
      - id: pytest
        name: Python tests
        entry: bash -c 'cd api && python -m pytest'
        language: system
        files: ^(api|compute)/.*\.py$
        pass_filenames: false

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-json
      - id: no-commit-to-branch
        args: ['--branch', 'main']

Fix asset type dropdown: Simplify SelectItem content and improve SelectValue label resolution
  .claude/settings.local.json
  frontend/src/components/assets/AssetForm.jsx
  frontend/src/components/ui/select.jsx
Due: eslint, prettier

Remove unused Badge import from AssetForm.jsx
  frontend/src/components/assets/AssetForm.jsx
Due: eslint, prettier

Analysis Phase: Comprehensive UI Architecture Gap Analysis & Strategic Planning
  .claude/settings.local.json
  PROJECT_KANBAN.md
  frontend/cypress/downloads/downloads.htm
  frontend/cypress/e2e/confidence-intervals-test.cy.js
  frontend/cypress/e2e/financial-ratios-test.cy.js
  frontend/cypress/screenshots/balance-sheet-comprehensive-test.cy.js/Balance Sheet Comprehensive Tests - Richard Account -- should have functional save button when creating assets -- before each hook (failed).png
  frontend/cypress/screenshots/confidence-intervals-test.cy.js/Balance Sheet Confidence Intervals - Richard Profile Test -- should display confidence intervals in lifetime view with Richard's data -- before each hook (failed).png
  frontend/src/components/balance-sheet/BalanceSheetDashboard.jsx
  frontend/src/components/balance-sheet/TemporalLiabilityAnalyzer.jsx
  test_balance_sheet_features.py
  test_confidence_intervals.py
Due: eslint, prettier

Phase 1 KISS Cross-Component Implementation: Complete Income & Expense Management with Asset/Liability Linking
  PROJECT_KANBAN.md
  RICHARD_MACHARIA_USER_JOURNEY_ANALYSIS.md
  api/app/api/v1/endpoints/expense_v2_enhanced.py
  api/app/api/v1/endpoints/income_v2.py
  api/app/application/interfaces/asset_repository.py
  api/app/application/interfaces/expense_repository.py
  api/app/application/interfaces/income_repository.py
  api/app/application/interfaces/liability_repository.py
  api/app/application/use_cases/manage_expense.py
  api/app/application/use_cases/manage_income.py
  api/app/domain/entities/expense.py
  api/app/domain/entities/income.py
  api/app/infrastructure/models/income_model.py
  api/app/infrastructure/repositories/sqlalchemy_income_repository.py
  frontend/cypress/e2e/expense-management-kiss-test.cy.js
  frontend/cypress/e2e/income-management-kiss-test.cy.js
  frontend/cypress/screenshots/confidence-intervals-test.cy.js/Balance Sheet Confidence Intervals - Richard Profile Test -- should display confidence intervals in lifetime view with Richard's data -- before each hook (failed).png
  frontend/cypress/screenshots/income-management-kiss-test.cy.js/Income Management - KISS Asset Linking -- should display income analysis summary cards -- before each hook (failed).png
  frontend/src/components/tools/ExpenseManagement.jsx
  frontend/src/components/tools/IncomeManagement.jsx
  frontend/src/components/tools/ToolsDashboard.jsx
  test_income_management.py
  test_simplified_expense_management.py
  test_simplified_income_management.py
Due: eslint, prettier, black, flake8, pytest

Complete Clean Architecture Migration: All Endpoints Enabled & Legacy Dependencies Removed
  api/app/api/v1/api.py
  api/app/application/use_cases/get_financial_timeline.py
  api/app/application/use_cases/get_spending_analytics.py
  api/app/application/use_cases/get_transactions.py
Due: black, flake8, pytest

Complete Tools Dashboard Master CRUD: Unified Financial Management Hub with Cross-Component Integration Ready
  .claude/settings.local.json
  api/app/domain/entities/transaction.py
  api/app/domain/repositories/transaction_repository.py
  api/app/infrastructure/repositories/sqlalchemy_transaction_repository.py
  frontend/src/components/tools/AssetManagement.jsx
  frontend/src/components/tools/ExpenseManagement.jsx
  frontend/src/components/tools/IncomeManagement.jsx
  frontend/src/components/tools/LiabilityManagement.jsx
  frontend/src/components/tools/ToolsDashboard.jsx
Due: eslint, prettier, black, flake8, pytest

Complete Cross-Component Financial Integration: Goals Management, Relationships System, and Financial Health Dashboard
  .claude/settings.local.json
  CRITICAL_FIXES_APPLIED.md
  TECHNICAL_DEVELOPMENT_GUIDE.md
  api/app/api/v1/api.py
  api/app/api/v1/endpoints/__init__.py
  api/app/api/v1/endpoints/relationships_clean.py
  api/app/application/use_cases/get_financial_timeline.py
  api/app/application/use_cases/get_spending_analytics.py
  api/app/application/use_cases/manage_financial_relationships.py
  api/app/domain/entities/financial_relationship.py
  api/app/domain/repositories/income_repository.py
  api/app/domain/repositories/relationship_repository.py
  api/app/infrastructure/repositories/sqlalchemy_relationship_repository.py
  api/app/models/__init__.py
  api/migration_financial_relationships.sql
  api/tests/integration/test_relationships_api.py
  api/tests/unit/test_financial_relationships.py
  frontend/cypress/e2e/api-endpoints-validation-test.cy.js
  frontend/cypress/e2e/cross-component-integration-test.cy.js
  frontend/cypress/e2e/tools-budget-integration-test.cy.js
  frontend/cypress/fixtures/assets.json
  frontend/cypress/fixtures/dashboard-data.json
  frontend/package.json
  frontend/src/components/budget/BudgetCashflows.jsx
  frontend/src/components/dashboard/FinancialHealthDashboard.jsx
  frontend/src/components/tools/AssetManagement.jsx
  frontend/src/components/tools/GoalsManagement.jsx
  frontend/src/contexts/BudgetContext.js
Due: eslint, prettier, black, flake8, pytest

Update core documentation: PRD with complete feature specs, Technical Guide with UnifiedFinancialContext architecture, and implementation plan
  CFA_COMPLIANCE_GUIDE.md
  COMPREHENSIVE_IMPLEMENTATION_PLAN.md
  PRODUCT_REQUIREMENTS_DOCUMENT.md
  TECHNICAL_DEVELOPMENT_GUIDE.md
  UNIFIED_FINANCIAL_CONTEXT_IMPLEMENTATION.md
  cleanup_script.bat
Due: none

Implement UnifiedFinancialContext: Complete CRUD operations with cross-component synchronization
  PRODUCT_REQUIREMENTS_DOCUMENT.md
  TECHNICAL_DEVELOPMENT_GUIDE.md
  UNIFIED_FINANCIAL_CONTEXT_IMPLEMENTATION.md
  api/app/api/v1/endpoints/income_v2_clean.py
  frontend/src/contexts/TransactionContext.js
Due: eslint, prettier, black, flake8, pytest

Migrate IncomeManagement component to UnifiedFinancialContext
  frontend/src/components/tools/IncomeManagement.jsx
Due: eslint, prettier

Complete CR004 Phase 2.5: Unified Context Migration & Runtime Fixes
  frontend/cypress/downloads/downloads.htm
  frontend/cypress/downloads/downloads.htm (1).crdownload
  frontend/cypress/screenshots/simple-login-test.cy.js/Simple Login Test - Authentication Validation -- Authentication State Management -- should handle authentication token storage correctly (failed).png
  frontend/cypress/screenshots/simple-login-test.cy.js/Simple Login Test - Authentication Validation -- Basic Login Functionality -- should successfully log in with valid credentials (failed).png
  frontend/src/components/assets/AssetForm.jsx
  frontend/src/components/expenses/ExpenseDashboard.jsx
  frontend/src/components/expenses/ExpenseForm.jsx
  frontend/src/components/income/IncomeOverview.jsx
  frontend/src/components/tools/AssetManagement.jsx
  frontend/src/components/tools/GoalsManagement.jsx
  frontend/src/components/tools/LiabilityManagement.jsx
  frontend/src/contexts/OnboardingContext.js
Due: eslint, prettier

Complete OnboardingWizard Integration with UnifiedFinancialContext
  PROJECT_KANBAN.md
  frontend/src/App.js
  frontend/src/components/onboarding/EmploymentProfileStep.js
  frontend/src/components/onboarding/FinancialInfoStep.js
  frontend/src/components/onboarding/GoalsStep.js
  frontend/src/components/onboarding/OnboardingWizard.js
  frontend/src/components/onboarding/PersonalInfoStep.js
  frontend/src/components/onboarding/PreferencesStep.js
  frontend/src/components/onboarding/ProgressBar.js
  frontend/src/components/onboarding/RiskAssessmentStep.js
  frontend/src/contexts/OnboardingContext.js
Due: eslint, prettier

Complete Comprehensive Financial CRUD Integration
  frontend/src/components/budget/BudgetCashflows.jsx
  frontend/src/components/expenses/ExpenseForm.jsx
  frontend/src/contexts/TransactionContext.js
Due: eslint, prettier

Fix OnboardingWizard Next Button Functionality Across All Steps
  frontend/src/components/onboarding/OnboardingWizard.js
Due: eslint, prettier

Fix UnifiedFinancialContext container networking: Update all API endpoints with proper base URLs
  frontend/src/components/onboarding/OnboardingWizard.js
  frontend/src/contexts/TransactionContext.js
Due: eslint, prettier

Fix Docker container networking configuration
  frontend/package.json
Due: none

Fix onboarding completion redirect loop issue
  frontend/src/components/TimelineMainAppLayout.jsx
  frontend/src/components/onboarding/OnboardingWizard.js
Due: eslint, prettier

Simplify onboarding completion: Remove complex API checks causing redirect loops
  frontend/src/components/TimelineMainAppLayout.jsx
  frontend/src/components/onboarding/OnboardingWizard.js
Due: eslint, prettier

Fix onboarding tests: Add unique email generation and proper error handling
  test-onboarding-simple.cjs
Due: none

Fix Onboarding Authentication and Clean Architecture Alignment
  api/app/api/v1/api.py
  api/app/api/v1/endpoints/onboarding_consolidated.py
  frontend/src/components/AuthScreen.js
  frontend/src/components/ProfileDynamic.js
  frontend/src/components/onboarding/OnboardingWizard.js
  frontend/src/components/timeline/TimelineProfile.jsx
Due: eslint, prettier, black, flake8, pytest

Fix Balance Sheet infinite loading issue
  frontend/src/components/balance-sheet/BalanceSheetDashboard.jsx
Due: eslint, prettier

Fix runtime errors in Income API and frontend timeouts
  api/app/api/v1/endpoints/income_v2_clean.py
  frontend/src/contexts/TransactionContext.js
Due: eslint, prettier, black, flake8, pytest

Fix uncommitted changes: Balance sheet issues and API performance
  .claude/settings.local.json
  api/app/api/v1/endpoints/expenses_clean.py
  api/app/api/v1/endpoints/migrate.py
  api/app/auth.py
  create-frontend-compatible-data.cjs
  create-user-data.cjs
  fix-onboarding.js
  fix_profile.py
  frontend/craco.config.js
  frontend/cypress/downloads/downloads.htm
  frontend/cypress/downloads/downloads.htm (1).crdownload
  frontend/cypress/screenshots/login-and-dashboard-flow.cy.js/Login → Dashboard Flow Test -- should complete full login → dashboard workflow (failed).png
  frontend/cypress/screenshots/login-and-dashboard-flow.cy.js/Login → Dashboard Flow Test -- should handle logout correctly (failed).png
  frontend/cypress/screenshots/login-and-dashboard-flow.cy.js/Login → Dashboard Flow Test -- should maintain session across page refreshes (failed).png
  frontend/public/_redirects
  frontend/src/components/onboarding/__tests__/OnboardingContext.test.js
  frontend/start.js
  investigate-missing-data.cjs
  login.py
  test-auth-page.cjs
  test-auth-working.cjs
  test-correct-endpoints.cjs
  test-react-routing.cjs
  test-simple-http.cjs
  test-unified-context-data.cjs
  test_onboarding_flow_direct.py
  test_simple_flow.py
Due: eslint, prettier, black, flake8, pytest

Fix React Hook ESLint warnings and complete performance fixes
  frontend/src/contexts/TransactionContext.js
Due: eslint, prettier

MAJOR FIX: Resolve balance sheet and expense categories display issues
  .claude/settings.local.json
Due: none

feat(budget): align expense categories with tools; shared defs + icons; fix(context): normalize assets/liabilities shapes; add asset update/delete; docs: CR005 change request; docs: update kanban
  CHANGE_REQUEST_CR005_BUDGET_CATEGORIES_ALIGNMENT.md
  PROJECT_KANBAN.md
  frontend/src/components/budget/BudgetCashflows.jsx
  frontend/src/components/expenses/expenseTypeDefs.js
  frontend/src/components/tools/ExpenseManagement.jsx
  frontend/src/contexts/TransactionContext.js
Due: eslint, prettier
