Repository MMJGGR/curly-broccoli: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, black, flake8, pytest

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npx eslint --max-warnings 0'
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: bash -c 'cd frontend && npx prettier --check'
  language: system
  pass_filenames: false

black:
  name: Black (Python formatter)
  entry: black
  language: system

flake8:
  name: Flake8 (Python linter)
  entry: flake8
  language: system

pytest:
  name: Python tests
  entry: bash -c 'cd api && python -m pytest'
  language: system
  pass_filenames: false

feat: Add comprehensive persona testing suite for PRD alignment
  frontend/cypress/README-TESTING.md
  frontend/cypress/e2e/persona-testing-suite.cy.js
  frontend/cypress/e2e/prd-persona-alignment-crud.cy.js
  frontend/cypress/reports/.gitkeep
  frontend/cypress/support/test-data.js
Due: none

fix: Update persona test data to match actual onboarding flow
  frontend/cypress/e2e/persona-testing-suite.cy.js
  frontend/cypress/support/test-data.js
Due: none

fix: Fix NaN risk score calculation in RiskQuestionnaire
  frontend/src/components/RiskQuestionnaire.js
Due: eslint, prettier

fix: Resolve profile editing issues and implement granular expense categories
  api/app/auth.py
  api/app/models/__init__.py
  api/app/schemas/user.py
  frontend/cypress/screenshots/debug-profile.cy.js/Debug Profile Issue -- should test a fresh registration and onboarding (failed).png
  frontend/src/components/Profile.js
  frontend/src/components/steps/StepPersonal.jsx
Due: eslint, prettier, black, flake8, pytest

**Add QA report and fix advisor onboarding/CRUD flows**
  COMPREHENSIVE_QA_REPORT_PERSONA_TESTING.md
  api/app/auth.py
  api/app/goals.py
  api/app/models/__init__.py
  api/app/schemas/__init__.py
  api/app/schemas/user.py
  frontend/cypress/e2e/advisor-onboarding-perfect.cy.js
  frontend/src/App.js
  frontend/src/components/AdvisorOnboardingComplete.js
  frontend/src/components/AuthScreen.js
  frontend/src/components/Profile.js
Due: eslint, prettier, black, flake8, pytest

feat: Implement Timeline-first profile and dashboard system
  api/app/api/v1/api.py
  api/app/api/v1/endpoints/onboarding_clean.py
  api/app/api/v1/endpoints/profile_clean.py
  api/app/api/v1/endpoints/timeline_clean.py
  api/app/schemas/onboarding.py
  frontend/src/App.js
  frontend/src/components/TimelineMainAppLayout.jsx
  frontend/src/components/onboarding/FinancialInfoStep.js
  frontend/src/components/onboarding/GoalsStep.js
  frontend/src/components/onboarding/OnboardingWizard.js
  frontend/src/components/onboarding/PersonalInfoStep.js
  frontend/src/components/onboarding/PreferencesStep.js
  frontend/src/components/onboarding/ProgressBar.js
  frontend/src/components/onboarding/RiskAssessmentStep.js
  frontend/src/components/onboarding/SaveIndicator.js
  frontend/src/components/onboarding/__tests__/FinancialInfoStep.test.js
  frontend/src/components/onboarding/__tests__/GoalsStep.test.js
  frontend/src/components/onboarding/__tests__/OnboardingContext.test.js
  frontend/src/components/onboarding/__tests__/PersonalInfoStep.test.js
  frontend/src/components/onboarding/__tests__/ProgressBar.test.js
  frontend/src/components/onboarding/__tests__/RiskAssessmentStep.test.js
  frontend/src/components/onboarding/__tests__/SaveIndicator.test.js
  frontend/src/components/timeline/AlignmentDashboard.jsx
  frontend/src/components/timeline/MobileTimelineNavigation.js
  frontend/src/components/timeline/PersonaAdaptations.js
  frontend/src/components/timeline/README.md
  frontend/src/components/timeline/TimelineDashboard.jsx
  frontend/src/components/timeline/TimelineProfile.jsx
  frontend/src/components/timeline/TimelineVisualization.jsx
  frontend/src/contexts/TimelineContext.js
Due: eslint, prettier, black, flake8, pytest

add: Include utility functions and risk calculation helpers
  api/app/utils/__init__.py
  api/app/utils/onboarding_debug.py
  api/app/utils/risk_calculation.py
  frontend/src/utils/__tests__/riskCalculation.test.js
  frontend/src/utils/riskCalculation.js
Due: eslint, prettier, black, flake8, pytest

Comprehensive code quality audit and Budget Epic preparation
  BUDGET_INTEGRATION_EPIC.md
  CODE_QUALITY_AUDIT_REPORT.md
Due: none

Repository cleanup: Remove temporary files, test data, and untracked artifacts
  .claude/settings.local.json
  api/Dockerfile
  api/app/api/v1/endpoints/budget.py
  docker-compose.yml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/cypress.config.js
  frontend/cypress/downloads/downloads.htm
  frontend/cypress/support/commands.js
  frontend/frontend/package-lock.json
  frontend/frontend/package.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/api.js
  frontend/src/components/BottomNavBar.js
  frontend/src/components/ProfileDynamic.js
  frontend/src/components/TimelineMainAppLayout.jsx
  frontend/src/components/budget/BudgetCashflows.jsx
  frontend/src/components/budget/BudgetCategoryForm.jsx
  frontend/src/components/budget/BudgetOverview.jsx
  frontend/src/components/contextual/LifecyclePhaseIndicator.jsx
  frontend/src/components/transactions/TransactionDashboard.jsx
  frontend/src/components/transactions/TransactionImport.jsx
  frontend/src/contexts/BudgetContext.js
  frontend/src/hooks/useLifecyclePhase.js
Due: eslint, prettier, black, flake8, pytest

Implement Clean Architecture foundation with CFA-compliant financial calculations
  MIGRATION_PLAN.md
  TECHNICAL_DEVELOPMENT_GUIDE.md
  api/app/application/__init__.py
  api/app/application/dto/__init__.py
  api/app/application/dto/budget_dto.py
  api/app/application/use_cases/__init__.py
  api/app/application/use_cases/create_budget.py
  api/app/application/use_cases/create_budget_category.py
  api/app/application/use_cases/get_budget_history.py
  api/app/application/use_cases/get_budget_overview.py
  api/app/application/use_cases/update_budget_category.py
  api/app/domain/__init__.py
  api/app/domain/entities/__init__.py
  api/app/domain/entities/budget.py
  api/app/domain/repositories/__init__.py
  api/app/domain/repositories/budget_repository.py
  api/app/domain/value_objects/__init__.py
  api/app/domain/value_objects/money.py
  api/app/domain/value_objects/period.py
  api/app/infrastructure/__init__.py
  api/app/infrastructure/dependencies.py
  api/app/infrastructure/repositories/__init__.py
  api/app/infrastructure/repositories/sqlalchemy_budget_repository.py
  api/app/tests/integration/__init__.py
  api/app/tests/integration/test_sqlalchemy_budget_repository.py
  api/app/tests/unit/__init__.py
  api/app/tests/unit/application/__init__.py
  api/app/tests/unit/application/test_create_budget_category.py
  api/app/tests/unit/application/test_get_budget_overview.py
  api/app/tests/unit/conftest.py
  api/app/tests/unit/domain/__init__.py
  api/app/tests/unit/domain/test_budget.py
  api/app/tests/unit/domain/test_money.py
  api/app/tests/unit/domain/test_period.py
Due: black, flake8, pytest

feat(migration): Phase 1 clean architecture endpoints setup
  CLEAN_ARCHITECTURE_TEST_SUMMARY.md
  QA_TESTING_GUIDE.md
  TECHNICAL_DEVELOPMENT_GUIDE.md
  api/app/api/v1/api.py
  api/app/api/v1/endpoints/budget_v2_clean.py
  api/app/security.py
  api/app/tests/integration/test_budget_v2_endpoints.py
  api/compute/__init__.py
  api/compute/operations.py
  api/compute/risk_engine.py
  api/test_clean_arch_ascii.py
  api/test_clean_arch_simple.py
  frontend/cypress/e2e/clean-architecture-budget-api.cy.js
  frontend/cypress/e2e/clean-architecture-comparison.cy.js
  frontend/package.json
  test-clean-architecture.js
Due: black, flake8, pytest

fix(frontend): resolve missing TransactionImportNew component
  frontend/src/components/budget/BudgetCashflows.jsx
  frontend/src/components/transactions/TransactionDashboard.jsx
Due: eslint, prettier

fix(clean-arch): Fix critical data mapping and goal calculation issues
  .claude/settings.local.json
  QA_TESTING_GUIDE.md
  api/app/infrastructure/repositories/sqlalchemy_budget_repository.py
  frontend/cypress/screenshots/clean-architecture-budget-api.cy.js/Clean Architecture Budget API Tests -- should return healthy status for budget v2 service -- before each hook (failed).png
  frontend/src/components/budget/BudgetCashflows.jsx
Due: eslint, prettier, black, flake8, pytest

Implement post-onboarding Income and Goals CRUD functionality
  api/app/api/v1/api.py
  api/app/api/v1/endpoints/__init__.py
  api/app/api/v1/endpoints/goals_v2_clean.py
  api/app/api/v1/endpoints/income_v2_clean.py
  frontend/src/components/budget/BudgetCashflows.jsx
Due: eslint, prettier, black, flake8, pytest

Clean up and enhance Income and Goals CRUD implementations
  api/app/api/v1/endpoints/goals_v2_clean.py
  api/app/api/v1/endpoints/income_v2_clean.py
Due: black, flake8, pytest

Add comprehensive project Kanban board for development tracking
  PROJECT_KANBAN.md
Due: none

Enhance clean architecture with CFA-compliant validation and business rules
  api/app/application/use_cases/create_budget_category.py
  api/app/domain/entities/budget.py
  api/app/services/goal_calculator.py
Due: black, flake8, pytest

Clean up unused repository and use case files
  api/app/application/use_cases/get_budget_history.py
  api/app/application/use_cases/get_budget_overview.py
  api/app/domain/repositories/__init__.py
  api/app/domain/repositories/budget_repository.py
  api/app/infrastructure/repositories/sqlalchemy_budget_repository.py
Due: black, flake8, pytest

Add working Profile and Timeline clean architecture endpoints
  api/app/api/v1/endpoints/profile_v2_clean.py
  api/app/api/v1/endpoints/timeline_v2_clean.py
Due: black, flake8, pytest

Fix React ESLint warnings and infinite loop issues
  frontend/src/components/ProfileDynamic.js
  frontend/src/components/analytics/GoalAnalyticsDashboard.jsx
  frontend/src/components/contextual/LifecyclePhaseIndicator.jsx
  frontend/src/components/timeline/TimelineDashboard.jsx
  frontend/src/contexts/OnboardingContext.js
  frontend/src/hooks/useLifecyclePhase.js
Due: eslint, prettier

Fix critical JavaScript initialization order and remove unused import
  frontend/src/components/analytics/GoalAnalyticsDashboard.jsx
  frontend/src/contexts/OnboardingContext.js
Due: eslint, prettier

Fix saveStep useCallback stale closure bug
  frontend/src/contexts/OnboardingContext.js
Due: eslint, prettier

Enable goals API and enhance IncomeOverview with CFA-compliant analysis
  api/app/api/v1/api.py
  frontend/src/components/income/IncomeOverview.jsx
Due: eslint, prettier, black, flake8, pytest

Fix Goals API import and clear ESLint errors for successful compilation
  api/app/api/v1/endpoints/__init__.py
  frontend/src/components/income/IncomeOverview.jsx
  frontend/src/hooks/useLifecyclePhase.js
Due: eslint, prettier, black, flake8, pytest

Integrate Income and Goals Management into existing Tools tab
  frontend/src/components/TimelineMainAppLayout.jsx
  frontend/src/components/tools/ToolsDashboard.jsx
Due: eslint, prettier

Fix critical API connectivity and infinite loop issues, expand Tools dashboard
  docker-compose.yml
  frontend/src/components/tools/ToolsDashboard.jsx
  frontend/src/hooks/useLifecyclePhase.js
Due: eslint, prettier

Foundation Week Day 1: Complete GetAccountsSummary use case with clean architecture
  .claude/settings.local.json
  PROJECT_KANBAN.md
  api/app/api/v1/api.py
  api/app/api/v1/endpoints/__init__.py
  api/app/api/v1/endpoints/accounts_clean.py
  api/app/application/use_cases/get_accounts_summary.py
  api/app/domain/entities/__init__.py
  api/app/domain/entities/account.py
  api/app/domain/entities/money.py
  api/app/domain/repositories/account_repository.py
  api/app/infrastructure/repositories/sqlalchemy_account_repository.py
  api/tests/test_get_accounts_summary.py
Due: black, flake8, pytest

Update PROJECT_KANBAN.md with Foundation Week Day 1 completion
  PROJECT_KANBAN.md
Due: none

Foundation Week Day 2: Complete Asset and Expense domain entities with TDD
  .claude/settings.local.json
  api/app/domain/entities/__init__.py
  api/app/domain/entities/asset.py
  api/app/domain/entities/expense.py
  api/tests/test_asset_expense_entities.py
Due: black, flake8, pytest

Foundation Week Day 2: Complete Asset & Expense API endpoints with clean architecture
  .claude/settings.local.json
  alembic/env.py
  alembic/versions/001_add_asset_expense_tables.py
  api/app/api/v1/api.py
  api/app/api/v1/endpoints/__init__.py
  api/app/api/v1/endpoints/assets_clean.py
  api/app/api/v1/endpoints/expenses_clean.py
  api/app/application/use_cases/create_asset.py
  api/app/application/use_cases/create_expense.py
  api/app/application/use_cases/get_assets_summary.py
  api/app/application/use_cases/get_expenses_summary.py
  api/app/application/use_cases/update_asset.py
  api/app/application/use_cases/update_expense.py
  api/app/domain/repositories/asset_repository.py
  api/app/domain/repositories/expense_repository.py
  api/app/infrastructure/repositories/sqlalchemy_asset_repository.py
  api/app/infrastructure/repositories/sqlalchemy_expense_repository.py
  api/app/models/__init__.py
Due: black, flake8, pytest

Foundation Week Day 3: Enhanced Onboarding & Historical Data System
  .claude/settings.local.json
  PROJECT_KANBAN.md
  api/app/domain/entities/financial_event.py
  api/app/domain/services/discount_rate_calculator.py
  api/app/schemas/onboarding.py
  frontend/src/components/BottomNavBar.js
  frontend/src/components/TimelineMainAppLayout.jsx
  frontend/src/components/assets/AssetDashboard.jsx
  frontend/src/components/assets/AssetForm.jsx
  frontend/src/components/assets/AssetList.jsx
  frontend/src/components/assets/PortfolioAnalysis.jsx
  frontend/src/components/assets/index.js
  frontend/src/components/balance-sheet/BalanceSheetDashboard.jsx
  frontend/src/components/balance-sheet/DiscountRateConfigurator.jsx
  frontend/src/components/balance-sheet/index.js
  frontend/src/components/expenses/ExpenseAnalysis.jsx
  frontend/src/components/expenses/ExpenseDashboard.jsx
  frontend/src/components/expenses/ExpenseForm.jsx
  frontend/src/components/expenses/ExpenseList.jsx
  frontend/src/components/expenses/index.js
  frontend/src/components/ui/badge.jsx
  frontend/src/components/ui/button.jsx
  frontend/src/components/ui/card.jsx
  frontend/src/components/ui/icons.jsx
  frontend/src/components/ui/index.js
  frontend/src/components/ui/input.jsx
  frontend/src/components/ui/label.jsx
  frontend/src/components/ui/select.jsx
  frontend/src/components/ui/textarea.jsx
  frontend/src/hooks/useLifecyclePhase.js
  frontend/src/utils/formatters.js
Due: eslint, prettier, black, flake8, pytest

Fix compilation errors: Remove undefined setAssetDefaults, add useCallback to HybridSaveManager functions, suppress exhaustive-deps warning in TemporalLiabilityAnalyzer
  .claude/settings.local.json
  frontend/src/components/assets/AssetForm.jsx
  frontend/src/components/balance-sheet/HybridSaveManager.jsx
  frontend/src/components/balance-sheet/TemporalLiabilityAnalyzer.jsx
Due: eslint, prettier

Path conditions:
  eslint: any of: ^frontend/src/.*\.(js|jsx|ts|tsx)$
  prettier: any of: ^frontend/src/.*\.(js|jsx|ts|tsx|css|json)$
  black: any of: ^(api|compute)/.*\.py$
  flake8: any of: ^(api|compute)/.*\.py$
  pytest: any of: ^(api|compute)/.*\.py$
